altgraph==0.17.3
beautifulsoup4==4.11.1
contourpy==1.0.6
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.38.0
future==0.18.2
kiwisolver==1.4.4
matplotlib==3.6.2
numpy==1.24.1
openpyxl==3.0.10
packaging==22.0
pandas==1.5.2
pefile==2022.5.30
Pillow==9.3.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PySide2==5.15.2.1
python-dateutil==2.8.2
pytz==2022.7
pywin32-ctypes==0.2.0
scipy==1.9.3
seaborn==0.12.1
shiboken2==5.15.2.1
six==1.16.0
soupsieve==2.3.2.post1
xlrd==2.0.1
